html{
    scroll-behavior: smooth;
}

/* HEADER */
header{
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
    height: 140px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.2);  /* Extraido de:  https://www.codesdope.com/blog/article/25-creative-css3-text-shadow-effects-you-cant-miss/*/ 
    background: linear-gradient(159.17deg, #022461 -9.41%, #455c9a 97.45%);; /*Generado en https://cssgradient.io/ */
    box-shadow: 2px 2px 12px rgb(119, 119, 119);
}

h1:nth-of-type(1){
    font-size: 3.5rem;
}

/* FORMULARIO */
input[type="password"], input[type="text"] { 
    color: rgb(17, 43, 109); 
    border: 2px solid rgb(4, 4, 90);
    padding-left: 15px;
}

input[type="password"]:hover, input[type="text"]:hover { 
    background-color: rgba(10, 7, 211, 0.096);
}

input[type="password"]::placeholder, input[type="text"]::placeholder { 
    color: rgb(165, 171, 204);
}

input[type="submit"] {  
    background-color: rgba(2, 6, 29, 0.562);
    color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 12px rgb(119, 119, 119);
    width: 34%;
    height: 30px;
}

input[type="submit"]:hover {  
    background-color: rgb(70, 69, 71);
}


/* ANCLA VOLVER */
#anclaVolver {
    position: fixed; right: 25px; bottom: 45px;
}

/* FOOTER */
footer{
    position: fixed;
    color: rgb(95, 94, 94);
    height: 40px;
    background-color: ghostwhite;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(180, 179, 179, 0.308);
}

